---
import { ProductList } from '@/components/products/ProductList';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get('page') ?? 1);

const { data, error } = await actions.getProductsByPage({
  page: pageParam,
});

if (error) {
  return Astro.redirect('/');
}

const { products, totalPages } = data;

console.log(products.at(0));
---

<MainLayout>
  <h1 class="text-3xl">Listado de productos</h1>

  <ProductList products={products} client:load />

  <Pagination totalPages={totalPages} />
</MainLayout>
